<div class="background-image"></div>

<div class="background-shadow">

  <mat-toolbar class="navbar">
    <button mat-button class="menu-link">Séries</button>
    <button mat-button class="menu-link">Notícias</button>
    <button mat-button class="menu-link">Games</button>
    <button mat-button class="menu-link">Premium</button>
    <span class="spacer"></span>
    <button mat-raised-button class="login-link" color="primary">
      Acessar &nbsp;
      <mat-icon matSuffix class="icon" style="color: white;">login</mat-icon>
    </button>
  </mat-toolbar>

  <form class="form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Pesquise o seu anime preferido aqui</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix style="color: white;">search</mat-icon>
    </mat-form-field>
  </form>
</div>

<div style="margin-top: -80px;">

  <h1 style="color: white; margin-left: 50px; filter: brightness(100%);">10 Animes mais recomendados !!!</h1>

  <owl-carousel [options]="{items: 3, dots: false, navigation: true, margin: 15}" [items]="array_anime"
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <app-card-anime *ngFor="let a of array_anime" [anime]="a"></app-card-anime>
  </owl-carousel>

</div>